.text {
    color: white;
    font-size: 42px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
}

.container .text {
    .dizzy-styled-word {
        color: #6502E2;
    }

    .dizzy-styled-word:hover {
        cursor: pointer;
    }

    :has(+ .dizzy-styled-word:hover) {
        opacity: 0;
    }
}



img {
    height: 300px;
}